.nav-link {
    color:white
}

.navbar-nav .nav-link.active{
    color: aqua
}

.navbar-brand img {
    width: 35px;
}

.navbar navbar-expand-lg bg-dark {
    color: black;
}

.btn-group-lg>.btn, .btn-lg{
    width: 350px;
    height: 50px;
    margin: 10px;

}

.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec {
    margin: 12px;
}
